@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: font-Quicksand;
}
::-webkit-scrollbar {
  display: none;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}
/* loader */
#load {
  animation: spin 1s ease-in-out infinite;
  border: 1px solid transparent;
  border-top-color: #537d8b;
  border-radius: 100%;
  filter: drop-shadow(0 0 1px blue);
  height: 64px;
  width: 64px;
  margin: 0 auto;
  position: relative;
}
#load div {
  animation: spin 1s ease-in-out infinite;
  border: 1px solid transparent;
  border-radius: 100%;
  bottom: -1px;
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
}
#load div:first-child {
  border-top-color: #a74040;
  transform: rotate(120deg);
}
#load div:last-child {
  animation-duration: 2s;
  border-top-color: #40a744;
  transform: rotate(240deg);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.2);
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
  }
}
